// Footer Start
@use "../../settings" as *;


.footer {
    background: color(900);
    position: relative;
    .text-grey {
        color: #868585;
    }
    .footer-heading-desktop h4{
        margin-bottom: 20px;font-size: 18px;
    }

    .footer-top {
        padding: 40px 0px;
        .box-footer-top {
            gap: 30px;
            .content {
                .title {
                    margin-bottom: 6px;
                }

                p {
                    opacity: 0.3;
                }
            }

        }
    }

    .footer-main {
        padding: 40px 0px;
        border-top: 1px solid rgba(255, 255, 255, 0.06);
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    }
    .rating{
        &-icon{
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
        em{
            font-size: 16px;color:#FF9529;
        }
    }
    &-bottom{
        padding: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.06);
        p{font-size: 14px;color: #868585;}
        a{
            color: #868585;
            font-size: 14px;
            &:hover{color:color(500);}
        }
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}


/* Widget
-------------------------------------------------------------- */

/* widget-menu */
.widget-menu {
    .title-widget {
        font-size: 22px;
        margin-bottom: 28px;
    }

    .box-menu {
        li {
            a {
                position: relative;
                color: #868585;
                font-size: 15px;
                &:hover{color:color(500);}
            }

            &:not(:last-child) {
                margin-bottom: 11.5px;
            }

           
        }
    }

}