// _home.scss
@use "../settings" as *;

.homePage{
    .bg-light{
        background-color: #EFEBE7;
    }
    // banner
    .banner{
        background: url(#{$imageurl}/banner.jpg) no-repeat center center;
        height:600px;
        background-size: cover;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(color(900), 0.8);
        }
        &Title{font-size: 60px;}
        &Subtitle{font-size: 20px;}
        &Content{
            min-height: calc(100vh - 120px);
            
        }
        &Video{
            em{font-size: 22px; vertical-align: middle; margin-right: 5px;}
            color:color(50);transition: color 0.3s ease;
            &:hover{
                color: color(500);
            }
        }
    }

    // struggle
    .struggle{
        &_card{
            em{
                width:48px;height: 48px; background-color: color(500);
                border-radius: 10px;color:color(50);display: flex;
                align-items: center;justify-content: center;
                font-size: 22px; margin:0 auto 10px;
            }
            p{font-weight: 500;margin-bottom: 0;}
        }
    }

    // financialHealth
    .financialHealth{
        &_fullsec{
            background:#1C1C1E;
            min-height: 292px;
            margin-top: 120px;
            border-radius: 10px;
            position: relative;
            z-index: 1;
            &:before{
                content: "";
                background: url(#{$imageurl}/financial-health-bg.webp) no-repeat left -100px;
                position: absolute;
                left: 0; top: 0;
                width: 100%;height: 100%;
                background-size: auto;
                z-index: -1;
                opacity: 0.4;
            }
            
            h2{
                font-size: 34px;
                margin-bottom: 20px;
                max-width: 400px;
                padding-left: 50px;
            }
            p{
                font-size: 18px;
                max-width: 600px;
                margin-bottom: 30px;
            }
            img{max-width: 518px; margin-top: -92px;}
        }
        &_card{
            background-color: color(50);
            padding: 50px;border-radius: 10px;
            p{color:color(100);}
        }
    }

    // reviews
    .reviews{
        .swiper-slide{height: auto;}
        .swiper{padding: 20px;}
        .arrow{
            position: absolute;
            top:50%;
            width: 45px;
            height: 45px;
            background-color: color(50);
            font-size: 20px;
            color:color(900);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            z-index: 5;
            box-shadow: 0 0 3px 2px #00000012;
            cursor: pointer;
            transition: all 0.5s;
            &-prev{left: 5px;}
            &-next{right: 5px;}
            &:hover{
                background-color: color(500);
                color:color(50);
            }
        }
        &_slide{
            box-shadow: 0 0 3px 2px #00000012;
            border-radius: 10px;height: 100%;
            p{color:color(100);}
            &_bottom{
                border-top: 1px solid #ebeaea;
                margin-top: 20px;padding-top: 20px;
            }
            .profile{
                img{width: 46px; height: 46px; border-radius: 50%; object-fit: cover;margin-right:12px;}
                .title{font-weight: 500;font-size: 18px;}
                .time{color:#a3a19e; font-size: 12px;}
            }
            .rating{
                &-icon{
                    &:not(:last-child) {
                        margin-right: 2px;
                    }
                }
                em{
                    font-size: 14px;color:#FF9529;
                }
            }
        }
    }

    // steps process
    .stepsProcess{
        background-color: color(900);
        &_card{
            .number{font-size: 80px; -webkit-text-stroke-width: 0.5px;line-height: 0.8;
                  -webkit-text-stroke-color: #606064; color:color(900);margin-bottom: 15px;}
            h3{color:color(500);}
            p{color:#aba5a5;line-height: 1.5;margin-bottom: 30px;}
        }
        .row{
            &:before{
                content: "";
                width: calc(100% - 30px);
                height: 1px;
                background-color: #292828;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
            &:after{
                content: "";
                width: 1px;
                height: calc(100% - 30px);
                background-color: #292828;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    // credit score
    .creditScore{
        padding:80px 0;
        &_tag{
            background-color: color(600); padding:5px 10px;
            border-radius: 5px;font-size: 14px;color:color(50);
        }
        &_wrap{
            background: url("#{$imageurl}/credit-score-bg.webp") no-repeat center center;
            min-height: 400px;
            background-size: cover;
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            &::before{
                background-color: rgba(color(900), 0.8) ;
                position: absolute;
                width: 100%;height: 100%;
                top: 0;left: 0;content: "";
            }
        }
    }

    // money back
    .moneyBack{
        &_card{
            box-shadow: 0 0 2px 2px #e7e6e6;
            padding:20px;
            border-radius: 10px;
            height: 100%;
            h3{font-size: 24px;}
            border-top-right-radius: 40px;
            transition: transform 0.5s;
            transform: translateY(0);
            &:hover{
                transform: translateY(-10px);
            }
        }
    }
    
    // financial feture
    .financialFeture{
        background-color: color(900);
        &_tag{
            background-color: color(700); padding:5px 10px;
            border-radius: 5px;font-size: 14px;color:color(900);
        }
        img{height: 500px;}
    } 
    
    // blog
    .blogSec{
        &_card{
            background-color: color(50);
            border-radius: 10px;
            padding: 25px;
            box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.06);
            img{border-radius: 5px;}
            .category{font-size: 16px;font-weight: 500; color:color(500); margin:15px 0;}
            .title{
                font-size: 20px; margin-bottom: 8px;
                display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2;
                overflow: hidden;
            }
            p{color:color(100);display: -webkit-box;  -webkit-box-orient: vertical;  
                -webkit-line-clamp: 4; overflow: hidden;}
            a{
                em{line-height: 1; margin-left: 5px; transition: all 0.5s;}
                &:hover{
                    em{margin-left: 10px;}
                }
            }
        }

    }
}