@use "../settings" as *;

.stepForm {
  &_circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #ccc;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;

    &.active {
      background-color: color(500); 
    }

    &.completed {
      background-color: color(700); 
      + .stepForm_label {
        color: color(900);
      }

    }
  }

  &_label {
    margin-left: 6px;
    margin-right: 10px;
    font-size: 14px;
    color: #6b7280; 

    &.active {
      color: color(500);
      font-weight: 600;
    }
  }

  &_line {
    height: 2px;
    width: 40px;
    background-color: #e5e7eb; 
    margin: 0 8px;
  }
  &_content{
    max-width: 800px; margin-top: 30px;
    .btn-primary{min-width: 200px;}
  }
}
